@media (min-width: 950px) {
.midsection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5vw;
    margin-bottom: 5vw;
    
}
.chores_css{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5vw;
}
.chores_css img{
    width: 20vw;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.choreTile{
    display: flex;
    width:20vw;
    height:auto;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.textStyle{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 10px;
    width: 70%;
}
.buttonStyle{
    border: none;
    background-color: #FF1B1C;
    color: white;
    padding: 5px 10px;
    border-radius: 7px;
    margin-right: 10px;
    
}
.details{
    width:100%;
}
.textStyle h1{
    font-size: 20px;
    color: #181d4e;
    overflow-wrap: break-word;
    width:70%;
}
.textStyle h2{
    font-size: 15px;
    color: #181d4e;
}

.textStyle p{
    font-size: 13px;
    color: #000;
    overflow-wrap: break-word;
    width:70%;
}

.formStyle{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin-bottom: 10vh;
    margin-top: 8vh;


}

.formStyle button{

    border:none;
    background-color: #1BBC9B;
    color:white;
    padding:10px;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 10px;

    
}
.formStyle input{
    margin-bottom: 15px;
    width: 80%;
    border-radius: 7px;
    padding: 5px;
}

.formStyle button:hover{
  background-color: #42e9c7;
  
}
}

@media (max-width: 950px ) and (min-width: 300px){
    .midsection{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 5vw;
        margin-bottom: 5vw;
        
    }
    .chores{
        display: flex;
        flex-direction: column;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5vw;
    }
    .chores img{
        width: 100%;
        border-top-right-radius: 7px;
        border-top-left-radius: 7px;
    }
    
    .choreTile{
        display: flex;
        width: 60vw;
        height:auto;
        flex-direction: column;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    }
    .bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .textStyle{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: left;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-left: 10px;
        width: 70%;
    }
    .buttonStyle{
        border: none;
        background-color: #FF1B1C;
        color: white;
        padding: 5px 10px;
        border-radius: 7px;
        margin-right: 10px;
        width: min-content;
        font-size: 10px;
        
    }
    .details{
        width:100%;
    }
    .textStyle h1{
        font-size: 13px;
        color: #181d4e;
        overflow-wrap: break-word;
        width:70%;
    }
    .textStyle h2{
        font-size: 9px;
        color: #181d4e;
    }
    
    .textStyle p{
        font-size: 13px;
        color: #000;
        overflow-wrap: break-word;
        width:70%;
    }
    
    .formStyle{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 50px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        padding: 30px;
        margin-bottom: 10vh;
        margin-top: 8vh;
    
    }
    
    .formStyle button{
    
        border:none;
        background-color: #1BBC9B;
        color:white;
        padding:10px;
        border-radius: 5px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 300;
        font-size: 20px;
        margin-bottom: 10px;
    
        
    }
    .formStyle input{
        margin-bottom: 15px;
        width: 80%;
        border-radius: 7px;
        padding: 5px;
        
    }
    
    .formStyle button:hover{
      background-color: #42e9c7;
      
    }
    }


