.navbar {
    width: 100%;
    height: 50px;
    background: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    margin-left: 1vw;
    margin-top: 13px;
}

.logo-container img {
    width: 80%;
}

.symbol-container {
    margin-right: 13vw;
    margin-top: 13px;
}

.logo-container span {
    font-weight: 500;
    cursor: pointer;
}

.links-container {
    display: flex;
    justify-content: flex-end;
    width: 70%;
}

.link {
    margin-left: auto;
}

.link.home {
    margin-right: 0vw;
}

.link.about {
    margin-right: -10vw;
}

.link.contact {
    margin-right: 10vw;
}

.link.account {
    margin-right: 2vw;
}

.link a {
    text-decoration: none;
    color: #000000;
    transition: font-size 0.3s ease;
}

.link a:hover {
    font-size: 1.09em;
}

.link.home a {
    color: #1BBC9B;
}

.link.account a {
    color: #ffffff;
    background-color: #1BBC9B;
    padding: 8px 12px;
    border-radius: 2px;
    margin-right: 4vw;
}

.link.account a:hover {
    color: #ffffff;
}

@media (max-width: 560px) {

    .links-container {
        font-size: 12px; /* Reducerea dimensiunii fontului */
    }
    
    .link.home,
    .link.about {
        font-size: 12px; /* Reducerea dimensiunii fontului */
        margin-right: 10px; /* Adăugarea unui spațiu la dreapta */
    }
    .link.home,
    .link.about,
    .link.contact {
        margin-right: -10px; /* Mutarea elementelor mai la stânga */
    }
    

}